@import "tailwindcss";


:root {
    --primary-color: #6C5DD3;
}

#root{
    font-family: onest;
}

.bg-primary{
    background: #6C5DD3;
}

.text-primary{
    color: #6C5DD3;
}

.text-gray{
    color: #737373;
}

/* e2e8f0 */

.scrollbar-hidden::-webkit-scrollbar { 
    display: none;
}

input[type="checkbox"]{
    width: 15px;
    height: 15px;
    accent-color: #6C5DD3;
}

